# Negeer de lokale Terraform map (providers en modules cache)
**/.terraform/

# Negeer de state bestanden (bevatten vaak geheimen van de infra)
**/*.tfstate
**/*.tfstate.*

# Negeer variabelen bestanden (hier staan vaak je echte wachtwoorden/keys in)
**/*.tfvars
**/*.tfvars.json

# Negeer tijdelijke plan bestanden
*.tfplan

# Negeer Terraform crash logs
*.log

# Negeer lokale override bestanden
override.tf
override.tf.json
*_override.tf
*_override.tf.json
